# ========================
# Java & Eclipse 기본 설정
# ========================

# Eclipse 관련 파일
.classpath
.project
.settings/

# STS(Spring Tool Suite) 관련
.springBeans

# 빌드 파일 & 결과물
/bin/
/target/
teamProjectTest/target/

# 로그
*.log

# OS 관련
.DS_Store
Thumbs.db

# 패키지 파일
*.jar
*.war
*.ear
*.zip

# 임시 파일
*.tmp
*.swp

# IDE 실행 관련
*.iml
.idea/
*.ipr
*.iws
.vscode/

# ========================
# Git 보안 파일 무시 설정
# ========================

# OpenAPI 키 등 민감 정보 담긴 설정파일
src/main/resources/config/appdata.properties

# ========================
# Git 자체 파일
# ========================

.gitignore
